.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.container img {
	max-width: 350px;
}

.search-form input {
	width: 350px;
	height: 42px;
	margin-right: 20px;
	border: 1px solid #ccc;
	font-size: 18px;
	text-indent: 20px;
}

.search-form button {
	height: 42px;
	color: #fff;
	padding: 8px 12px;
	background: #00a1ff;
	border: 0;
	cursor: pointer;
}

.search-form button:hover {
	background: #5ebef7;
}

.just-created {
	width: 25%;
	margin: 50px auto 0 auto;
	padding: 30px;
	background: #ccc;
}

.link {
	position: fixed;
	top: 20px;
	right: 20px;
}

.box {
	width: 100px;
	height: 100px;
	position: absolute;
	background: #f00;
	cursor: pointer;
	transition: all .5s ease-in;
}
